<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xinyu.mapper.MajorMapper">


    <select id="selectByParam" resultType="com.xinyu.domain.entity.MajorEntity">
        select *
        form major a
        where is_delete != 1
        <if test="whereList != null">
            and
            <foreach collection="whereList" item="item" separator=" and ">
                ${item}
            </foreach>
        </if>
        <if test="orderList != null">
            ORDER BY
            <foreach collection="orderList" item="item" separator=",">
                ${item}
            </foreach>
        </if>
        <if test="paging!=null">
            limit ${paging.pageSize*(paging.pageIndex-1)},${paging.pageSize}
        </if>
    </select>
</mapper>